/* Reseteo */
* {
    margin: 0;
    padding: 0;
}

body {
        background: url(../images/3431856.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       color: white;

}

.imgnav {
  width: 96px;
  height: 96px;
}

.fijar{
	position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

#barranav {
        overflow: hidden;
}

.btnAgre {
  width: 50%;
}

section {
    border: solid black 1px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: black;
}

div img {
    width: auto;
    height: 200px; 
}

.divProd {
    padding: 25px;
    border: solid black 1px;
    border-radius: 5px;
}

.disable {
  display: none;
}

.divQs {
        justify-content: center;
            text-align: center;
          padding-top:20px;
        margin: auto;
    overflow:hidden;
}

.divQs h1 {
  font-weight: bolder;
}

.contacto h2{
  padding: 35px;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.contacto form{
  color: white;
  font-weight: bolder;
}

.login_btn {
  width: 100%;
  background: #934a9c !important;
  color: white !important;
}

.btn_create {
       background: #934a9c !important;
       color: white !important;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}

.hide, .remove{
  display: none;
}

.input-group-text {
  background: #934a9c !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem;  
}

.input_user,
.input_pass:focus {
  box-shadow: none;
  outline: 0px;
}

/*Pie de Pagina*/
.pie-pagina {
    width: 100%;
    background: #164884; }
    .pie-pagina .grupo-1 {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      padding: 45px 0px; }
      .pie-pagina .grupo-1 .box {
        text-align: center; }
        .pie-pagina .grupo-1 .box figure {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .pie-pagina .grupo-1 .box figure img {
            width: 250px; }
        .pie-pagina .grupo-1 .box h2 {
          color: #fff;
          margin-bottom: 25px;
          font-size: 20px; }
        .pie-pagina .grupo-1 .box p {
          color: #efefef;
          margin-bottom: 10px; }
      .pie-pagina .grupo-1 .red-social a {
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease; }
        .pie-pagina .grupo-1 .red-social a:hover {
          color: aqua; }
    .pie-pagina .grupo-2 {
      background-color: #0a1a2a;
      padding: 15px 10px;
      text-align: center;
      color: #fff; }
      .pie-pagina .grupo-2 small {
        font-size: 15px; }

/*Ajuste Mobile*/
@media screen and (max-width: 768px) {
    ul li {
      width: 100%;
      padding: 16px;
      text-align: center; }
    .pie-pagina .grupo-1 {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
      text-align: center; } }
